:root {
  --brand-color: #3f506d;
  --dark-bg: rgba(0, 0, 0, 0.25);
  --white: #fff;
  --brand-color-bg: rgba(50, 205, 50, 0.25);
  --border: #eaedf3;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.form-container {
  padding: 1rem;
  background: var(--white);
  border: 1px solid var(--border);
  box-shadow: 0 1px 3px rgb(0 0 0 / 4%);
  box-sizing: border-box;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

#loader-grid .v-skeleton-loader__image {
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

#loader-grid .ld-1 .v-skeleton-loader__image {
  height: 300px;
  background: #f2f2f2;
}

#loader-grid .ld-8 .v-skeleton-loader__image {
  height: 300px;
}

#loader-grid .ld-3 .v-skeleton-loader__image {
  height: 300px;
}

#loader-grid .ld-4 .v-skeleton-loader__image {
  height: 400px;
}

#loader-grid .ld-6 .v-skeleton-loader__image {
  height: 300px;
}

#loader-grid .v-skeleton-loader__paragraph {
  padding: 1rem;
  margin-top: -75px;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  max-width: 250px;
}
#loader-grid .v-skeleton-loader__text {
  padding: 0.5rem;
}

#loader-grid
  .v-skeleton-loader__paragraph
  .v-skeleton-loader__text:nth-child(3) {
  display: none;
}
